.grid-preview {
  border: 1px solid;
  display: grid;
  gap: 10px;
  background-color: beige;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
  }
}

.grid-table {
  & td {
    border: 1px solid;
  }
}

.grid-properties {
  list-style: none;

  & li {
    
    &::before {
      content: "\2713";
      color: green;
    }
    &.invalid::before {
      content: "\2717";
      color: red;
    }
  }
}

button {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}